.navmenu__buttons{
    display: flex;
    align-items: center;
    max-width: 100%;
}

@media screen and (max-width: 769px) {
    .navmenu__buttons{
        display: none;
    }
 }

 .no-swap{
    display: flex;
 }