.technologies__buttons{
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .technologies__buttons{
        margin: 70px 0 0;
    }
 }

@media screen and (max-width: 550px) {
    .technologies__buttons{
        margin: 50px 0 0;
        display: grid;
        grid-template-columns: 85px 85px;
        gap: 10px;
    }
 }