.card__info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
}

@media screen and (max-width: 340px) {
    .page{
        width: 95%;
        margin: 20px 0 0;
    }
}