.header__title{
    max-width: 730px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: -0.04em;
    margin: -43px 26px 0 0;
}

@media screen and (max-width: 800px) {
    .header__title{
        max-width: 680px;
        font-size: 40px;
        line-height: 52px;
        margin: 22px 3px 0 0;
    }
 }

 @media screen and (max-width: 550px) {
    .header__title{
        max-width: 290px;
        font-size: 29px;
        line-height: 37px;
        margin: -15px 0px 0 0;
    }
 }
