.edit__button-exit{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    border: none;
    background-color: #202020;
    padding: 0;
}