.student__about{
    margin: 26px 0 100px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .student__about{
        margin: 26px 0 85px 0;
        font-size: 12px;
        line-height: 18px;
    }
 }

 @media screen and (max-width: 550px) {
    .student__about{
        margin: 20px 0 40px 0;
        font-size: 11px;
        line-height: 16px;
    }
 }
