.info__text-view{
    margin: 14px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

@media screen and (max-width: 550px) {
    .info__text-view{
        font-size: 11px;
        line-height: 13px;
    }
 }