.navmenu__button-signup{
    border: none;
    padding: 0;
    background-color: #202020;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 30px;
}

@media screen and (max-width: 550px) {
    .navmenu__button-signup{
        font-size: 10px;
        margin-right: 14px;
    }
 }