.student{
    margin: 70px auto;
    padding: 30px 0 0;
    max-width: 1140px;
}

@media screen and (max-width: 770px) {
    .student{
        padding: 30px 30px;
        margin: 70px auto 0;
    }
 }

@media screen and (max-width: 550px) {
    .student{
        max-width: 310px;
        padding: 55px 0 ;
        margin: 0 auto;
    }
 }