.technologies__subtitle{
    margin: 26px auto 0;
    max-width: 480px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .technologies__subtitle{
        margin: 24px 0 0;
        /* max-width: 292px; */
        font-size: 11px;
        line-height: 16px;
    }
 }