.technologies{
    margin: 110px 0 0;
    background: #272727;
    padding: 100px 70px;
    border-radius: 2px;
}

@media screen and (max-width: 800px) {
    .technologies{
        padding: 90px 60px;
    }
 }


 @media screen and (max-width: 550px) {
    .technologies{
        margin: 70px 0 0;
        padding: 70px 0;
        background: none;
    }
 }