.form__input{
    width: 366px;
    background: #2F2F2F;
    border-radius: 8px;
    padding: 0;
    border: none;
    padding: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    outline:none;
}

@media screen and (max-width: 450px) {
    .form__input{
        width: 230px;
    }
 }