.search__block-search{
    display: flex;
    justify-content: space-between;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #424242;
}

@media screen and (max-width: 590px) {
    .search__block-search{
        max-width: 292px;
    }
 }
