.student__block-info{
    max-width: 600px;
}

@media screen and (max-width: 800px) {
    .student__block-info{
        max-width: 364px;
    }
 }

 @media screen and (max-width: 550px) {
    .student__block-info{
        order: 2;
        margin: 40px 0 0;
    }
 }